<style>
    .tomatxt {
        background: #ff6347
    }
    
    .tomatxt:focus {
        background: #fff
    }
</style>

<br>

<div class="container">

    <div class="row">
        <div class="col-lg-4" style="background-color:rgb(255, 255, 255)">
        </div>
        <div class="col-lg-4" style="background-color:rgb(255, 255, 255)">
        </div>
        <div class="col-lg-4" style="background-color:rgb(255, 255, 255)">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4" style="background-color:rgb(255, 255, 255)">
    </div>
    <div class="col-lg-4" style="background-color:rgb(255, 255, 255)">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="YOUR TITLE HERE!">
        <br>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="YOUR TEXT HERE!"></textarea>
        <br>
        <button type="button" class="btn btn-dark">Actualizar</button>
    </div>
    <div class="col-lg-4" style="background-color:rgb(255, 255, 255)">
    </div>
</div>