<br>

<div class="row  justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="assets/img/fire.png" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="#" class="btn btn-primary">Cambiar</a>
        </div>
    </div>
</div>


<br>
<form id="imageform" class="form-horizontal center-block" action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <!-- Codigo -->
        <label class="col-sm-4 control-label titulos1">Nombre</label>

        <div class=" col-sm-3 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
            <input type="text" name="Nombre" class="form-control" placeholder="Nombre" required>
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col">
            <label class="col-sm-4 control-label titulos1">Primer Apellido</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <label class="col-sm-4 control-label titulos1">Segundo Apellido</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>

    <br>

    <div class="form-group">
        <!-- Correo Electrónico -->
        <label class="col-sm-4 control-label">Correo Electrónico</label>
        <div class=" col-sm-6 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" name="lugar_nacimiento" class="form-control" placeholder="Correo Electrónico" required>
        </div>
    </div>

    <br>

    <div class="form-group">
        <!-- Teléfono -->
        <label class="col-sm-4 control-label">Teléfono</label>
        <div class=" col-sm-6 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input type="text" name="telefono" class="form-control" placeholder="Teléfono" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <!-- Fecha de nacimiento -->
        <label class="col-sm-4 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-sm-9">
            <input type="submit" name="add" class="btn btn-sm btn-primary" value="Aceptar">
        </div>
    </div>


</form>